/* Palette: https://coolors.co/528976-ffe184-7d80da-eeeeff-0d1b2a */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
    color: #0D1B2A;
}

body {
    background-color: #eeeeff;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

header {
    display:flex;
    flex-direction: column;
    gap:2%;
    align-items: center;
    background-color: #0D1B2A;
    color: #eeeeff;
    padding: 2%;
}

header div {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}

header img {
    display:block;
    width:30%;
    height:auto;
}

header input[type=text] {
    width: 50%;
    height:3em;
    font-size: 1.25em;
    background: none;
    border:1px solid #eeeeff;
    border-radius: 4px;
    color:#eeeeff;
    margin-top:1%;
}

header h1 {
    font-size: 2.0rem;
    margin-top: 10%;
    margin-bottom: 0%;
}

form {
    display:flex;
    flex-direction: column;
    gap: .5em;
    border: 1px solid #0D1B2A;
    border-radius:4px;
    width:20%;
    padding:1em;
}

table {
    border: 1px solid #0D1B2A;
    padding:.5em;
    width:60%;
}

.content {
    display:flex;
    gap:3em;
    align-items:baseline;
    justify-content: center;
}

.deceased {
    
}